Repository rakutentech/ios-miniapp, pull requests merged in 2020-11, with the labels that each got.

#162 Update how host app manages Orientation lock
  Example/AppDelegate.swift
  Example/Controllers/DisplayController.swift
  Example/Controllers/Storyboards/Base.lproj/Main.storyboard
  MiniApp/Classes/Display/RealMiniAppView.swift
  MiniApp/Classes/JavascriptBridge/MiniAppJavaScriptEnumerations.swift
  MiniApp/Classes/JavascriptBridge/MiniAppJavaScriptPermissionManager.swift
  MiniApp/Classes/JavascriptBridge/MiniAppScriptMessageHandler.swift
  MiniApp/Classes/MiniApp.swift
  MiniApp/Classes/Protocols/MiniAppDisplayProtocol.swift
  Podfile.lock
  Tests/Unit/RealMiniAppViewTests.swift
  USERGUIDE.md
Labels: Refactoring, SDK

#163 Feat/custom permissions ui extensions
  CHANGELOG.md
  Example/Controllers/CustomPermissionsTableViewController.swift
  Example/Controllers/Extensions/ViewController+MiniAppMessageProtocol.swift
  Example/Controllers/ViewController.swift
  MiniApp.xcodeproj/project.pbxproj
  MiniApp/Classes/Display/RealMiniAppView.swift
  MiniApp/Classes/Display/ViewControllers/Custom Permissions/CustomPermissionsRequestViewController.swift
  MiniApp/Classes/Display/ViewControllers/Custom Permissions/CustomPermissionsRequestViewController.xib
  MiniApp/Classes/Display/ViewControllers/Custom Permissions/MACustomPermissionCell.swift
  MiniApp/Classes/Display/ViewControllers/Custom Permissions/MACustomPermissionCell.xib
  MiniApp/Classes/Extensions/MiniApp+WKUserContentController.swift
  MiniApp/Classes/JavascriptBridge/MiniAppJavaScriptPermissionManager.swift
  MiniApp/Classes/JavascriptBridge/MiniAppScriptMessageHandler.swift
  MiniApp/Classes/Protocols/MiniAppMessageDelegate.swift
  Tests/Unit/Helpers.swift
  Tests/Unit/MiniAppScriptMessageHandlerTests.swift
  USERGUIDE.md
Labels: SDK, feature-request

#164 Sample app changes to update access token info
  Example/Assets/Images.xcassets/Contents.json
  Example/Assets/Images.xcassets/SF_lock.imageset/SF_lock.png
  Example/Assets/Images.xcassets/SF_lock.imageset/SF_lock@2x.png
  Example/Assets/Images.xcassets/SF_lock.imageset/SF_lock@3x.png
  Example/Assets/Images.xcassets/Security.imageset/Contents.json
  Example/Assets/Images.xcassets/Security.imageset/Security.png
  Example/Assets/Images.xcassets/Security.imageset/Security@2x.png
  Example/Assets/Images.xcassets/Security.imageset/Security@3x.png
  Example/Assets/Images.xcassets/UserContacts.imageset/Contents.json
  Example/Assets/Images.xcassets/UserContacts.imageset/Material_Perm_Contact_Calendar.png
  Example/Assets/Images.xcassets/UserContacts.imageset/Material_Perm_Contact_Calendar@2x.png
  Example/Assets/Images.xcassets/UserContacts.imageset/Material_Perm_Contact_Calendar@3x.png
  Example/Assets/Images.xcassets/profile.imageset/Contents.json
  Example/Assets/Images.xcassets/profile.imageset/SF_person_badge_plus_fill.png
  Example/Assets/Images.xcassets/profile.imageset/SF_person_badge_plus_fill@2x.png
  Example/Assets/Images.xcassets/profile.imageset/SF_person_badge_plus_fill@3x.png
  Example/Controllers/Extensions/ViewController+MiniAppUserInfoProtocol.swift
  Example/Controllers/Settings/AccessTokenViewController.swift
  Example/Controllers/Storyboards/Base.lproj/Main.storyboard
  Example/Models/UserProfileModel.swift
  MiniApp.xcodeproj/project.pbxproj
Labels: feature-request, sample-app

#166 [MINI-2109] placeholder text overlapping search field
  Example/Controllers/Storyboards/Base.lproj/Main.storyboard
  MiniApp/Classes/MiniAppDownloader.swift
Labels: bug-fix, sample-app

#169 Support Project ID
  CHANGELOG.md
  DEV.md
  Example/Controllers/SettingsTableViewController.swift
  Example/Utils/Config.swift
  MiniApp/Classes/API/ListingAPI.swift
  MiniApp/Classes/API/ManifestAPI.swift
  MiniApp/Classes/Environment.swift
  MiniApp/Classes/MiniAppClient.swift
  MiniApp/Classes/MiniAppSdkConfig.swift
  MiniApp/Classes/RealMiniApp.swift
  Tests/Unit/Helpers.swift
  Tests/Unit/MiniAppClientTests.swift
  Tests/Unit/RealMiniAppTests.swift
  USERGUIDE.md
Labels: SDK, feature-request, sample-app

#171 Updated sample app to use RASProjectId
  Example/Controllers/FirstLaunchViewController.swift
  Example/Controllers/SettingsTableViewController.swift
  Example/Controllers/Storyboards/Base.lproj/Main.storyboard
  Example/Info.plist
  MiniApp/Classes/Environment.swift
  MiniApp/Classes/MiniAppSdkConfig.swift
  Tests/Unit/MiniAppClientTests.swift
Labels: sample-app

#170 Implementation of preview mode
  .gitignore
  Example/Assets/en.lproj/Localizable.strings
  Example/Assets/ja.lproj/Localizable.strings
  Example/Controllers/SettingsTableViewController.swift
  Example/Controllers/Storyboards/Base.lproj/Main.storyboard
  Example/Controllers/ViewController.swift
  Example/Info.plist
  Example/Utils/Config.swift
  MiniApp.xcodeproj/project.pbxproj
  MiniApp/Classes/Environment.swift
  MiniApp/Classes/MiniAppClient.swift
  MiniApp/Classes/MiniAppSdkConfig.swift
  MiniApp/Classes/RealMiniApp.swift
  MiniApp/en.lproj/Localizable.strings
  Tests/Unit/EnvironmentTests.swift
  Tests/Unit/Helpers.swift
  Tests/Unit/MiniAppClientTests.swift
  Tests/Unit/MiniAppSdkConfigTests.swift
  Tests/Unit/RealMiniAppTests+Permissions.swift
  Tests/Unit/RealMiniAppTests.swift
Labels: Refactoring, SDK, feature-request, sample-app

#172 docs: Add development guidelines and SDK Learning Path to contribution guide
  .github/CONTRIBUTING.md
  .github/pull_request_template.md
  DEV.md
Labels: documentation

#173 Updated sample app to use Project ID title in the settings
  Example/Controllers/Storyboards/Base.lproj/Main.storyboard
Labels: sample-app

#174 Quick fixes on Preview Feature in Sample app
  Example/Controllers/Extensions/ViewController+MiniApp.swift
  Example/Controllers/ViewController.swift
  Example/Info.plist
  Example/Utils/Array+MiniApp.swift
  MiniApp/Classes/MiniApp.swift
  MiniApp/Classes/MiniAppClient.swift
  MiniApp/Classes/MiniAppInfoFetcher.swift
  MiniApp/Classes/RealMiniApp.swift
  Tests/Unit/Helpers.swift
  Tests/Unit/RealMiniAppTests.swift
  configure-secrets.sh
Labels: feature-request, sample-app

#175 Feature/clean preview cache
  MiniApp/Classes/Extensions/MiniApp+FileManager.swift
  MiniApp/Classes/MiniAppDownloader.swift
  MiniApp/Classes/Storage/MiniAppCacheVerifier.swift
  Tests/Unit/Helpers.swift
  Tests/Unit/MiniAppDownloaderTests.swift
Labels: Enhancement, Refactoring, SDK

#167 feat: add an option to load mini app by url (MINI-1981)
  .swiftlint.yml
  Example/Controllers/DisplayController.swift
  Example/Controllers/Extensions/ViewController+MiniApp.swift
  Example/Controllers/Storyboards/Base.lproj/Main.storyboard
  Example/Controllers/ViewController.swift
  Example/Info.plist
  Example/Utils/String+MiniApp.swift
  MiniApp.xcodeproj/xcshareddata/xcschemes/MiniApp-Example.xcscheme
  MiniApp/Classes/Display/Displayer.swift
  MiniApp/Classes/Display/MiniAppExternalWebViewController.swift
  MiniApp/Classes/Display/MiniAppNavigationConfig.swift
  MiniApp/Classes/Display/MiniAppWebView.swift
  MiniApp/Classes/Display/RealMiniAppView.swift
  MiniApp/Classes/Extensions/MiniApp+String.swift
  MiniApp/Classes/Extensions/MiniApp+URL.swift
  MiniApp/Classes/MiniApp.swift
  MiniApp/Classes/MiniAppSdkConfig.swift
  MiniApp/Classes/Protocols/MiniAppShareContentDelegate.swift
  MiniApp/Classes/RealMiniApp.swift
  MiniApp/Classes/Storage/MiniAppKeyChain.swift
  MiniApp/Classes/Utilities/MiniAppExternalUrlLoader.swift
  Tests/Unit/DisplayerTests.swift
  Tests/Unit/Helpers.swift
  Tests/Unit/MiniApp+StringTests.swift
  Tests/Unit/RealMiniAppTests.swift
  Tests/Unit/RealMiniAppViewTests.swift
Labels: Enhancement, SDK, feature-request, good first issue, sample-app

#178 Fixes for Mini-2201 and 2202
  Example/Controllers/Extensions/ViewController+MiniAppMessageProtocol.swift
  MiniApp/Classes/Display/ViewControllers/Custom Permissions/CustomPermissionsRequestViewController.xib
  MiniApp/Classes/Display/ViewControllers/Custom Permissions/MACustomPermissionCell.xib
Labels: bug-fix, sample-app

#180 updates changelog for version 2.6.0
  CHANGELOG.md
  Example/Info.plist
  MiniApp.podspec
  MiniApp.xcodeproj/project.pbxproj
Labels: RELEASE
