Repository rakutentech/ios-miniapp, pull requests merged in 2020-12, with the labels that each got.

#165 feat: Return custom Error type to clients
  Example/Assets/en.lproj/Localizable.strings
  Example/Assets/ja.lproj/Localizable.strings
  Example/Controllers/Extensions/ViewController+MiniApp.swift
  MiniApp.xcodeproj/project.pbxproj
  MiniApp/Classes/Extensions/MiniApp+NSError.swift
  MiniApp/Classes/MASDKError.swift
  MiniApp/Classes/MiniApp.swift
  MiniApp/Classes/MiniAppInfoFetcher.swift
  MiniApp/Classes/RealMiniApp.swift
  MiniApp/en.lproj/Localizable.strings
  Tests/Unit/MASDKErrorTests.swift
  Tests/Unit/ManifestDownloaderTests.swift
  Tests/Unit/MiniApp+NSErrorTests.swift
  Tests/Unit/MiniAppClientTests.swift
  Tests/Unit/MiniAppInfoFetcherTests.swift
  Tests/Unit/MiniAppTests.swift
  Tests/Unit/RealMiniAppTests.swift
Labels: Enhancement, Refactoring, SDK

#181 Feat/location custom permissions
  MiniApp/Classes/Display/ViewControllers/Custom Permissions/MACustomPermissionCell.xib
  MiniApp/Classes/JavascriptBridge/MiniAppJavaScriptEnumerations.swift
  MiniApp/Classes/JavascriptBridge/MiniAppScriptMessageHandler.swift
  Tests/Unit/MiniAppScriptMessageHandlerTests.swift
Labels: SDK, sample-app

#192 Candidate
  CHANGELOG.md
  Example/Info.plist
  MiniApp.podspec
  MiniApp.xcodeproj/project.pbxproj
  Podfile
  Podfile.lock
  configure-secrets.sh
Labels: RELEASE

#191 Update User profile interfaces to async
  Example/Controllers/Extensions/ViewController+MiniAppUserInfoProtocol.swift
  MiniApp.xcodeproj/project.pbxproj
  MiniApp/Classes/JavascriptBridge/MiniAppScriptMessageHandler.swift
  MiniApp/Classes/Protocols/MiniAppUserInfoDelegate.swift
  MiniApp/en.lproj/Localizable.strings
  Tests/Unit/Helpers.swift
  Tests/Unit/MessageInterfaceExtensionTests.swift
  Tests/Unit/MiniAppScriptMessageHandlerTests.swift
  USERGUIDE.md
Labels: Enhancement, SDK, feature-request
