Repository rakutentech/ios-miniapp, pull requests merged in 2021-03, with the labels that each got.

#220 Feat/meta data fetching
  CHANGELOG.md
  Example/Controllers/MAFirstLaunchController.swift
  Example/Controllers/Storyboards/Base.lproj/CustomPermissionCell.xib
  Example/Controllers/Storyboards/Base.lproj/Main.storyboard
  Example/Controllers/Storyboards/Base.lproj/Settings.storyboard
  Example/Controllers/ViewController.swift
  MiniApp.xcodeproj/project.pbxproj
  MiniApp/Classes/core/API/MetaDataAPI.swift
  MiniApp/Classes/core/Display/URLSchemeHandler.swift
  MiniApp/Classes/core/MASDKError.swift
  MiniApp/Classes/core/MiniApp.swift
  MiniApp/Classes/core/MiniAppClient.swift
  MiniApp/Classes/core/MiniAppInfoFetcher.swift
  MiniApp/Classes/core/Models/MiniAppManifest.swift
  MiniApp/Classes/core/RealMiniApp.swift
  MiniApp/Classes/core/Storage/MiniAppStatus.swift
  MiniApp/en.lproj/Localizable.strings
  Podfile.lock
  Tests/Unit/Helpers.swift
  Tests/Unit/MetaDataAPITests.swift
  Tests/Unit/MiniAppInfoFetcherTests.swift
  Tests/Unit/MiniAppTests.swift
  USERGUIDE.md
Labels: SDK, feature-request, sample-app

#227 Feat/required optional permissions
  CHANGELOG.md
  Example/Controllers/Extensions/ViewController+MiniApp.swift
  MiniApp/Classes/core/Extensions/NSError+MiniApp.swift
  MiniApp/Classes/core/MASDKError.swift
  MiniApp/Classes/core/MiniApp.swift
  MiniApp/Classes/core/MiniAppInfoFetcher.swift
  MiniApp/Classes/core/Models/MiniAppManifest.swift
  MiniApp/Classes/core/RealMiniApp.swift
  MiniApp/Classes/core/Storage/MAManifestStorage.swift
  MiniApp/Classes/core/Storage/MiniAppKeyChain.swift
  MiniApp/Classes/core/Storage/MiniAppPermissionsStorage.swift
  MiniApp/Classes/core/Storage/MiniAppStatus.swift
  MiniApp/en.lproj/Localizable.strings
  Tests/Unit/Helpers.swift
  Tests/Unit/MiniAppKeyChainTests.swift
  Tests/Unit/MiniAppStatusTests.swift
  Tests/Unit/MiniAppTests.swift
  Tests/Unit/RealMiniAppTests.swift
  USERGUIDE.md
Labels: SDK, feature-request

#230 Compare previous and current manifest
  Example/Controllers/Extensions/ViewController+MiniApp.swift
  Example/Controllers/MAFirstLaunchController.swift
  Example/Controllers/Storyboards/Base.lproj/Main.storyboard
  Example/Controllers/ViewController.swift
  MiniApp/Classes/core/JavascriptBridge/MiniAppJavaScriptPermissionManager.swift
  MiniApp/Classes/core/Models/MiniAppManifest.swift
  MiniApp/Classes/core/RealMiniApp.swift
  USERGUIDE.md
Labels: SDK, sample-app

#231 Allow mini app to request only permissions that is defined in manifest
  MiniApp/Classes/core/JavascriptBridge/MiniAppJavaScriptPermissionManager.swift
  MiniApp/Classes/core/JavascriptBridge/MiniAppScriptMessageHandler.swift
  Tests/Unit/MiniAppScriptMessageHandlerTests.swift
Labels: SDK

#232 Update Required text in the first-time launch screen
  Example/Controllers/MAFirstLaunchController.swift
  Example/Controllers/ViewController.swift
  MiniApp/Classes/core/MiniAppInfoFetcher.swift
Labels: sample-app

#233 To be in sync with Android UI
  Example/Controllers/MAFirstLaunchController.swift
  Example/Controllers/Storyboards/Base.lproj/Main.storyboard
Labels: sample-app

#234 Merge feature Access Token custom permission to master
  CHANGELOG.md
  MiniApp/Classes/core/JavascriptBridge/MiniAppJavaScriptEnumerations.swift
  MiniApp/Classes/core/JavascriptBridge/MiniAppScriptMessageHandler.swift
  Podfile.lock
  Tests/Unit/Helpers.swift
  Tests/Unit/MiniAppJavascriptEnumerationTests.swift
  Tests/Unit/MiniAppScriptMessageHandlerTests.swift
  Tests/Unit/MiniAppStatusTests.swift
Labels: feature-request

#235 Sample app update to use the current config.
  Example/Controllers/ViewController.swift
  USERGUIDE.md
Labels: RELEASE, bug, sample-app

#229 retry mechanism on 500 errors
  MiniApp/Classes/core/MiniAppClient.swift
  Tests/Unit/MiniAppClientTests.swift
Labels: Enhancement, SDK, UT, feature-request

#238 Refactor sample app and update Danger
  Example/Controllers/Extensions/ViewController+MiniApp.swift
  Example/Controllers/ViewController.swift
  Example/Utils/Config.swift
  USERGUIDE.md
Labels: Refactoring, sample-app

#239 Add optional name and email to Contact
  Example/Controllers/ContactsListSettingsTableViewController.swift
  MiniApp/Classes/core/Protocols/MiniAppUserInfoDelegate.swift
Labels: SDK, sample-app

#242 Added VersionId to MiniAppManifest
  MiniApp/Classes/core/MiniAppInfoFetcher.swift
  MiniApp/Classes/core/Models/MiniAppManifest.swift
  Tests/Unit/Helpers.swift
Labels: SDK, feature-request

#244 Fix for Mini app Offline loading
  Example/Controllers/ViewController.swift
  MiniApp/Classes/core/MASDKError.swift
  MiniApp/Classes/core/RealMiniApp.swift
  MiniApp/Classes/core/Utilities/Constants.swift
Labels: SDK, bug-fix

#243 Added Photo/Video permissions in plist
  Example/Info.plist
  USERGUIDE.md
Labels: SDK, feature-request
