Repository rakutentech/ios-miniapp, pull requests merged in 2022-12, with the labels that each got.

#463 [No Ticket] Fix for Framework build
  MiniAppCarthage/MiniApp/MiniApp.xcodeproj/project.pbxproj
  fastlane/Fastfile
Labels: SDK, 5.1.0

#465 [MINI-5762] [iOS-Fix] Set auth token by default
  Example/Controllers/SwiftUI/Features/Settings/MiniAppSettingsViewModel.swift
Labels: bug-fix, sample-app, 5.1.0

#464 [iOS SDK]Universal Bridge : Communication between the Host App and MiniApps
  CHANGELOG.md
  Example/Assets/en.lproj/Localizable.strings
  Example/Controllers/SwiftUI/Features/Settings/Features/MiniAppSecureStorageView.swift
  Example/Controllers/SwiftUI/Features/Settings/Features/MiniAppSettingsQAView.swift
  Example/Controllers/SwiftUI/Features/Settings/Features/UniversalBridgeView.swift
  Example/Controllers/SwiftUI/Features/Single/MiniAppSingleView.swift
  Example/Controllers/SwiftUI/Features/Terms/MiniAppWithTermsView.swift
  Example/Controllers/SwiftUI/Features/Terms/MiniAppWithTermsViewModel.swift
  Example/Controllers/SwiftUI/Helper/MiniAppViewMessageDelegator.swift
  Example/Controllers/SwiftUI/Store/MiniAppStore.swift
  MiniAppCarthage/MiniApp/MiniApp.xcodeproj/project.pbxproj
  Sample.xcodeproj/project.pbxproj
  Sources/Classes/core/Display/RealMiniAppView.swift
  Sources/Classes/core/JavascriptBridge/MiniAppJavaScriptEnumerations.swift
  Sources/Classes/core/JavascriptBridge/MiniAppScriptMessageHandler.swift
  Sources/Classes/core/MiniApp.swift
  Sources/Classes/core/MiniAppAnalytics.swift
  Sources/Classes/core/Models/MiniAppJavaScriptMessageInfo.swift
  Sources/Classes/core/Models/MiniAppJavascriptErrorInfo.swift
  Sources/Classes/core/Protocols/MiniAppMessageDelegate.swift
  Sources/Classes/core/Protocols/UniversalBridgeDelegate.swift
  Sources/Classes/core/RealMiniApp.swift
  Sources/Classes/core/View/MiniAppView.swift
  Sources/Classes/core/View/MiniAppViewHandler.swift
  Sources/Classes/ui/MiniAppSUIView.swift
  Tests/Unit/Helpers.swift
  Tests/Unit/MiniAppScriptMessageHandlerTests.swift
  Tests/Unit/MiniAppViewTests.swift
  Tests/Unit/RealMiniAppTests.swift
  Tests/Unit/RealMiniAppViewTests.swift
  USERGUIDE.md
Labels: Enhancement, sample-app, SDK, 5.1.0

#467 [MINI-5814] [iOS SDK] Support multiple e-mail addresses for a contact
  CHANGELOG.md
  Example/Controllers/SwiftUI/Features/Settings/MiniAppSettingsViewModel.swift
  Example/Controllers/SwiftUI/Store/MiniAppStore.swift
  Sources/Classes/core/Protocols/MiniAppUserInfoDelegate.swift
  Tests/Unit/Helpers.swift
  Tests/Unit/MiniAppLoggerTests.swift
  Tests/Unit/MiniAppScriptMessageHandlerTests.swift
  Tests/Unit/core/Display/MiniAppExternalWebViewControllerTests.swift
Labels: Enhancement, SDK, 5.1.0

#468 [MINI-5833] [Universal Bridge] Keyboard overlapping with the "Send Data to Mini App" button in QA settings
  Example/Controllers/SwiftUI/Features/Settings/Features/UniversalBridgeView.swift
Labels: Enhancement, bug-fix, sample-app, 5.1.0

#470 [MINI-5826] Update Demo app Settings to support multiple emails for contacts
  Example/Controllers/SwiftUI/Features/Settings/Features/MiniAppSettingsContactsView.swift
  Example/Controllers/SwiftUI/Features/Settings/MiniAppSettingsViewModel.swift
  Example/Controllers/SwiftUI/Store/MiniAppStore.swift
  Tests/Unit/Helpers.swift
Labels: Enhancement, sample-app, 5.1.0
