Repository rakutentech/ios-miniapp, pull requests merged in 2023-08, with the labels that each got.

#521 [MINI-6142] Access token hot fix
  CHANGELOG.md
  Example/Controllers/SwiftUI/Features/Bundle/MiniAppFromBundle.swift
  MiniApp.podspec
  Sources/Classes/core/MiniApp.swift
  Sources/Classes/core/View/MiniAppView.swift
  Sources/Classes/core/View/MiniAppViewHandler.swift
  Sources/Classes/core/View/MiniAppViewable.swift
  Sources/Classes/ui/MiniAppSUIView.swift
  Tests/Unit/MiniAppScriptMessageHandlerTests.swift
  USERGUIDE.md
Labels: feature-request, SDK

#522 [MINI-6243] Refactor to use constants
  .circleci/config.yml
  .github/workflows/fastlane.yml
  Example/AppDelegate.swift
  Example/Controllers/SwiftUI/Features/Bundle/MiniAppFromBundle.swift
  Example/Controllers/SwiftUI/Features/MiniAppFeatureListView.swift
  Example/Controllers/SwiftUI/Features/Single/MiniAppSingleView.swift
  Example/Utils/Global.swift
  Sample.xcodeproj/project.pbxproj
  Sources/Classes/core/Display/ViewControllers/Custom Permissions/CustomPermissionsRequestViewController.swift
  Sources/Classes/core/Extensions/Bundle+Environment.swift
  Sources/Classes/core/Utilities/Constants.swift
  Sources/Classes/core/View/MiniAppView.swift
  Sources/Classes/core/View/MiniAppViewHandler.swift
  Tests/Unit/MiniAppViewTests.swift
Labels: Refactoring, sample-app, SDK

#516 [MINI-5899][iOS Sample] Enable deeplink/QR code to save the Project key and subscription key
  Example/ContentView.swift
  Example/Controllers/SwiftUI/Features/Settings/MiniAppSettingsView.swift
  Example/Controllers/SwiftUI/MiniAppDashboardView.swift
  Example/Models/SettingsParams.swift
  Example/SampleApp.swift
  Example/SceneDelegate.swift
  Sample.xcodeproj/project.pbxproj
Labels: Enhancement, sample-app, 5.3.0

#524 [No Ticket] Post release change
  .circleci/config.yml
  .github/workflows/candidate_pr.yml
  .github/workflows/fastlane.yml
  MiniApp.podspec
  MiniAppCarthage/MiniApp/MiniApp.xcodeproj/project.pbxproj
  Sources/Classes/core/MiniApp.swift
  Tests/Unit/MiniAppScriptMessageHandlerTests.swift
  USERGUIDE.md
  fastlane/Fastfile
  js-miniapp-sample.zip
Labels: sample-app, CI, 5.4.0

#525 [MINI-6258]Download Miniapp
  CHANGELOG.md
  Example/Controllers/SwiftUI/Features/List/MiniAppListRowCell.swift
  Example/Controllers/SwiftUI/Features/List/MiniAppListView.swift
  Sources/Classes/core/Downloader/MiniAppDownloader.swift
  Sources/Classes/core/MiniApp.swift
  Sources/Classes/core/RealMiniApp.swift
  Sources/Classes/core/Utilities/MiniAppSDKUtility.swift
  Sources/Classes/core/View/MiniAppView.swift
  Sources/Classes/core/View/MiniAppViewHandler.swift
  Tests/Unit/MiniAppViewTests.swift
  USERGUIDE.md
Labels: SDK, 5.4.0
